.navbar {
    background: black;
    font-family: Calibri, sans-serif;
    padding: 2px;
    height: 100px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 200px; /* Adjust size as needed */
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

/* Hover effect */
li a:hover {
    color: yellow;
    text-decoration: underline;
}


.profile-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 60px;
}

.profile-button:hover {
    color: yellow;
    text-decoration: underline;
}

.profile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.close-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
