.navbar {
    background: black;
    font-family: Calibri, sans-serif;
    padding: 2px;
    height: 100px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 200px; /* Adjust size as needed */
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

/* Hover effect */
li a:hover {
    color: yellow;
    text-decoration: underline;
}


.profile-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 60px;
}

.profile-button:hover {
    color: yellow;
    text-decoration: underline;
}

.profile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 370px;
    height: 100vh;
    background-color: #111;
    box-shadow: 0px 0px 25px rgba(169, 150, 150, 0.5);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Ensure it's on top */
}

.close-btn {
    background: rgb(65, 63, 63);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 35px;
}
